/* Configuración de la raíz */
:root{
    background-color: black;
    font-family:'Raleway', sans-serif;
    --celeste:#2FCAF0;
    scroll-behavior: smooth; /* Crea el efecto smooth scrolling (desplazamiento suave entre las secciones del index) */
}

/* Reseteo de estilos */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
}

a{
    color:#fff;
}

/* Boton ir arriba */
#btn_gototop{
    display: none;
    position: fixed;
    z-index: 100;
    right: 1.2rem;
    bottom: 1.2rem;
    padding: .3rem;
    border-radius: 25%;
    background: transparent;
    color: #fff;
    box-shadow: 0 0 0 .0625rem var(--celeste);
    transition-duration: .3s;
}
    #btn_gototop:hover {
        background-color: #000;
        cursor: pointer;
        transform: scale(1.1);
    }

body{
    background-color: black;
    color: white;
    width: 100%;
    /* Baja el body para que el nav no tape el contenido */
    margin-top: 4rem; 
}

/* ......./ Header /....... */
.header{
    display: flex;
    justify-content: center;
}

.container{
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
}

.nav{
    width: 100%;
    height: 4rem;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

/* ......./ Logo /....... */
.nav__logo{
    height: 4rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}

    .nav__img{
        height: 70%;
    }

    .nav_paragraph{
        font-weight: 500;
        font-size: 1.3rem;
    }

/* ......./ Menú hamburguesa /....... */
.fa-bars, .fa-times{
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
    pointer-events: none;
}

.nav input[type="checkbox"]{
    opacity: 0;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
}

/* ......./ Menú para móviles /....... */
.nav__list{
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

    .nav__list_ul{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        row-gap: 2rem;
        margin: 2rem;
    }

        .nav__list_li a{
            position: relative;
            color: #e1e1e1;
            transition: color 0.3s ease-in-out;
        }
        
        .nav__list_li a::before{
            content: "";
            width: 0;
            height: 0.0625rem;
            background: #fff;
            position: absolute;
            bottom: -0.5rem;
            transition: all 0.3s ease-in-out;
        }

        .nav__list_li a:hover{
            color: #fff;
        }

        .nav__list_li a:hover::before{
            width: 100%;
        }
        .nav__list_li a:active{
            color: red;
        }

/* Despliegue de menú hamburguesa */
.nav input:checked ~ .nav__list{
    display: block;
}

.nav input:checked ~ .fa-bars{
    display: none;
}

.nav input:not(:checked) ~ .fa-times{
    display: none;
}

/* ......./ Menú Desktop/....... */
.nav__menu{
    display: none;
    padding-right: 1.5rem;
}

    .nav__menu_ul{
        display: flex;
        column-gap: 2.5rem;
    }

        .nav__menu_li a{
            position: relative;
            color: #e1e1e1;
            transition: color 0.3s ease-in-out;
        }

        .nav__menu_li a::before{
            content: "";
            width: 0;
            height: 0.0625rem;
            background: #fff;
            position: absolute;
            bottom: -0.5em;
            transition: all 0.3s ease-in-out;
        }

        .nav__menu_li a:hover{
            color: #fff;
        }

        .nav__menu_li a:hover::before{
            width: 100%;
        }
        
/* ......./ Contenido central /....... */
.main__content{
    margin: 1.8rem 0;
    padding: 0 1.25rem;
}

    .main__title{
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: solid 0.0625rem #5c5c5c;
    }

        .main__icon{
            height: 2.5rem;
            background-color: var(--celeste);
            margin: 1.2rem 0;
            border-radius: 0 1.2rem 0 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .main__paragraph{
            line-height: 2rem;
            text-align: justify;
        }

/* ......./ Cards /....... */
.card{
    max-width: 23rem;
    background: linear-gradient(360deg, rgb(0, 180, 243) 0%, rgb(47, 210, 243) 100%);
    margin: 2rem auto;
    outline: .0625rem solid var(--celeste);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

    .card__img{
        width: 100%;
    }

    .card__title{
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 400;
        text-shadow: .05em .05em .1em rgba(0, 0, 0, .5);
    }

    .card__paragraph{
        padding: 0 1rem 1rem;
        text-shadow: .05em .05em .1em rgba(0, 0, 0, .5);
    }

/* ......./ Formulario de Contacto /....... */
.main__form{
    margin: 1.8rem auto;
}

    .form__paragraph{
        font-size: 1.2rem;
    }

    .form__input{
        width: 100%;
        height: 2em;
        border-radius: .3rem;
        padding: .6rem;
        margin: 1rem 0;
        font-size: inherit;
        outline: .1rem solid var(--celeste);
        background-color: #000;
        color: #fff;
    }

        .form__input:focus{
            outline: .1rem solid #fff;
        }

    .form__input--mensaje{
        height: 6.25em;
    }

    .form__submit{
        width: 7em;
        height: 2.5em;
        font-size: inherit;
        text-transform: uppercase;
        color:#fff;
        margin-top: .6rem;
        border-radius: .3rem;
        background-color: #000;
        outline: .1rem solid var(--celeste);
        cursor: pointer;
        transition-duration: .2s;
    }

        .form__submit:hover{
            background-color: var(--celeste);
        }

/* ......./ Footer /....... */
.footer{
    width: 100%;
    padding: 2rem 0;
    background-color: var(--celeste);
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .footer__title{
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: .1em;
        font-weight: 500;
    }

    .footer__redes{
        margin: .6rem auto;
        display: flex;
        justify-content:center;
        column-gap: 1.2rem;
    }

        .footer__redes a:hover{
            transform: scale(1.2);
            transition: 0.3s; 
        }

/* ********** / Media Query 992px /********** */
@media  (min-width:62rem) {

    body{
        /* Todo el contenido sube a su posicion normal */
        margin-top: 0;
    }

    #btn_gototop{
        padding: 0.5rem;
    }

    .nav{
        background-color: transparent;
    }

    .nav-black {
        background-color:rgba(0, 0, 0, .7);        
    }

    /* Oculto menú hamburguesa */
    .nav input:checked ~ .nav__list{
        display: none;
    }
    
    .nav input[type="checkbox"]{
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    .fa-bars, .fa-times{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    /* Muestro menú Desktop */
    .nav__menu{
        display: block;
    }
}
/* ********** / Media Query 768px /********** */
@media (min-width:48rem) {

    .main__content{
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .main__title{
        grid-column: 1/-1;
    }

    .main__textos--reverse{
        display: flex;
        flex-direction: column-reverse;
    }

    .main__content--cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .card{
        padding: 0;
        margin: 0 auto;
    }

    .main__form{
        width: 80%;
        grid-column: 1/-1;
    }

    .footer{
        flex-direction:row;
        justify-content: space-between;
    }

    .footer__title{
        font-size: 2em;
        width: 50%;
    }
    
    .footer__redes{
        width: 50%;
    }
}