:root{
    background-color: black;
    font-family:'Raleway', sans-serif;
    --celeste:#2FCAF0;
    scroll-behavior: smooth; /* Crea el efecto smooth scrolling (desplazamiento suave a las secciones dentro del index) */
}
/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
}

a{
    color: white;
}
/* Boton ir arriba */
#btn_gototop{
    display: none;
    position: fixed;
    z-index: 100;
    right: 2em;
    bottom: 2em;
    padding: 5px;
    border-radius: 25%;
    background: transparent;
    color: #fff;
    box-shadow: 0 0 0 1px var(--celeste);
    transition-duration: .3s;
}
    #btn_gototop:hover {
        background-color: #000;
        cursor: pointer;
        transform: scale(1.1);
    }

body{
    background-color: black;
    color: white;
    width: 100%;
}

/* ......./ Header /....... */
.header{
    display: flex;
    justify-content: center;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav{
    width: 100%;
    height: 60px;
    background-color:black;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

/* ......./ Logo /....... */
.nav__logo{
    height: 60px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

    .nav__img{
        height: 70%;
    }

    .nav_paragraph{
        font-weight: 500;
        font-size: 20px;
    }

/* ......./ Menú hamburguesa /....... */
/* .nav__hamburguer{
    position: relative;
    padding-right: 25px;
    
} */
.fa-bars, .fa-times{
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
    pointer-events: none;
}
/* Despliegue de menú mobile */
.nav input[type="checkbox"]{
    opacity: 0;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
}
.nav input:checked ~ .nav__list{
    display: block;
}
.nav input:checked ~ .fa-bars{
    display: none;
}
.nav input:not(:checked) ~ .fa-times{
    display: none;
}
/* ......./ Menú mobile /....... */
.nav__list{
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}

    .nav__list_ul{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        row-gap: 2rem;
        margin: 2rem;
    }

        .nav__list_li a{
            position: relative;
            color: #e1e1e1;
            transition: color 0.3s ease-in-out;
        }
        
        .nav__list_li a::before{
            content: "";
            width: 0;
            height: 0.1em;
            background: #fff;
            position: absolute;
            bottom: -0.5em;
            transition: all 0.3s ease-in-out;
        }

        .nav__list_li a:hover{
            color: #fff;
        }

        .nav__list_li a:hover::before{
            width: 100%;
        }

/* ......./ Menú Desktop/....... */
.nav__menu{
    display: none;
    padding-right: 25px;
}

    .nav__menu_ul{
        display: flex;
        column-gap: 30px;
    }

        .nav__menu_li a{
            position: relative;
            color: #e1e1e1;
            transition: color 0.3s ease-in-out;
        }

        .nav__menu_li a::before{
            content: "";
            width: 0;
            height: 0.1em;
            background: #fff;
            position: absolute;
            bottom: -0.5em;
            transition: all 0.3s ease-in-out;
        }

        .nav__menu_li a:hover{
            color: #fff;
        }

        .nav__menu_li a:hover::before{
            width: 100%;
        }

/* ......./ Carousel /....... */
.carousel{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

    .carousel__img{
        width: 100%;
    }

/* ......./ Contenido central /....... */
.main__content{
    margin:30px 0;
    padding: 0 20px;
}

    .main__title{
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 1.5rem;
        /* margin: 20px 0; */
        border-bottom: 1px solid #5c5c5c;
    }

        .main__icon{
            height: 40px;
            background-color: var(--celeste);
            margin: 20px 0;
            border-radius: 0 20px 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .main__paragraph{
            line-height: 1.5em;
            text-align: justify;
        }

/* ......./ Cards /....... */
.card{
    max-width: 300px;
    background: linear-gradient(360deg, rgb(0, 180, 243) 0%, rgb(47, 210, 243) 100%);
    outline: 1px solid #cdcdcd;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 5rem;
}

    .card__img{
        width: 100%;
    }

    .card__title{
        font-size: 1.5rem;
        font-weight: 400;
        padding: 10px;
        text-align: center;
    }

    .card__paragraph{
        padding: 0 10px 10px;
    }

/* ......./ Formulario de Contacto /....... */
.main__form{
    margin: 20px auto;
}

    .form__paragraph{
        font-size: 1.2rem;
    }

    .form__input{
        width: 100%;
        height: 35px;
        border-radius: 5px;
        padding: 0 10px;
        margin: 15px 0;
        font-size: 1rem;
        outline: none;
    }

        .form__input:focus{
            outline: 2px solid var(--celeste);
        }

    .form__input--mensaje{
        height: 100px;
    }

    .form__submit{
        width: 100px;
        height: 40px;
        font-size: 1rem;
        color:#fff;
        margin-top: 10px;
        border-radius: 5px;
        background-color: var(--celeste);
        cursor: pointer;
    }

        .form__submit:hover{
            background-color: #fff;
            color: var(--celeste);
        }

/* ......./ Footer /....... */
.footer{
    width: 100%;
    padding: 30px 0;
    background-color: var(--celeste);
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .footer__title{
        width: auto;
        font-size: 1.5em;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 400;
    }

    .footer__redes{
        width: 170px;
        margin: 10px auto;
        display: flex;
        justify-content:center;
        column-gap: 20px;
    }

        .footer__redes a:hover{
            transform: scale(1.2);
            transition: 0.3s; 
        }

/* ********** / Media Query /********** */
@media  (min-width:992px) {

    #btn_gototop{
        padding: 1em;
    }

    /* oculto menú hamburguesa y muestro nav menú */
    .nav{
        width: 100%;
        background-color: transparent;
    }

    .nav-black {
        background-color:rgba(0, 0, 0, .7);        
    }
    
    /* .nav__hamburguer{
        display:none;
    } */
    .nav input[type="checkbox"]{
        display: none;
    }

    .fa-bars, .fa-times{
        display: none;
    }

    .nav__menu{
        display: block;
    }
}

@media (min-width:768px) {

    .main__content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .main__title{
        grid-column: 1/-1;
    }

    .main__textos--reverse{
        display: flex;
        flex-direction: column-reverse;
    }

    .main__content--cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .card{
        padding: 0;
        margin: 0 auto;
    }

    .main__form{
        width: 80%;
        grid-column: 1/-1;
    }

    .footer{
        flex-direction:row;
        justify-content: space-between;
    }

    .footer__title{
        font-size: 2em;
        width: 50%;
    }
    
    .footer__redes{
        width: 50%;
    }
}